# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environment
# ======================
venv/
.env

# ======================
# OS files
# ======================
.DS_Store

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Data (RAG)
# ======================
data/
*.faiss
*.pkl

# ======================
# Logs
# ======================
*.log

# ======================
# Streamlit cache
# ======================
.streamlit/

# ======================
# Docker
# ======================
*.tar

# ======================
# Temp files
# ======================
*.tmp